*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-bg-colour: rgb(0, 0, 0);
}

.app {
  display: flex;
  max-height: 50rem;
  max-width: 50rem;
  background-color: var(--main-bg-colour);
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 2rem;
}
